
Amazon_Api/.vs/Amazon_Api/FileContentIndex/233f14d8-deeb-4e92-a9c5-47d326b236d0.vsidx
Amazon_Api/.vs/Amazon_Api/FileContentIndex/0fd1f848-0ba0-42a9-ac12-95ecf33cdfaf.vsidx
Amazon_Api/.vs/Amazon_Api/config/applicationhost.config
